.wrapper {
	box-sizing: border-box;
	padding: 1em;
	width: 100%;
}

.half {
	width: 50%;
}

.card {
	padding: 1em;
	background: #fff;
	border-radius: 8px;
	border: 1px solid #efefef;
}

.title {
	font-size: 1em;
	font-weight: 400;
	color: #6b6b6b;
}

.content {
	height: 18em;
}

.kpiWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.kpiWrapper > * {
	margin: 0 0.2em 0.4em;
}

.kpiWrapper > :first-child {
	margin-left: 0;
}

.kpiValue {
	font-size: 3em;
	font-weight: bold;
}

.kpiChange,
.kpiChangeExplanation {
	color: #008353;
}

.kpiChange {
	display: inline-block;
	font-size: 2em;
	background: #f5fff9;
}
